.show-data{
    display: flex;
    justify-content: space-between;
}

.app-container{
    width: 100%;
    margin: auto;
}

.app-container .contents{
    border-bottom: 1px solid green;
    padding-bottom: 1em;
}

.not-found{
    width: 100%;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}