@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgba(92, 91, 91, 0.54);
  --font-nunito: "Nunito", serif;
  --font-color: rgb(33, 33, 33);
  --font-color-light: rgb(155, 155, 155);
  --background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
  --background-light:linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-transform: capitalize;
}

/* App file */

.App {
  /* background: var(--background); */
  color: var(--font-color);
  font-family: 'Inter', sans-serif;
}

.App.dark {
  --font-color: rgb(255, 255, 255);
  --background: rgb(50, 50, 50);
  --background-light: rgb(101, 101, 101);
}