.formControl {
    margin: 20px 0;
    display: flex;
  }

  .formControl input {
    width: 90%;
    height: 40px;
    margin: 5px;
    padding: 5px;
    font-size: 17px;
    border-radius: 5px;
  }
  
  input[type="update"] {
    width: 10%;
    float: right;
    background: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }