.container{
    display: flex;
}

main{
    width: 100%;
    padding: 20px
}

.sidebar{
    background: rgb(2, 113, 2);
    color: #fff;
    height: 100vh;
    width: 400px;
}

.top{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo{
    font-size: 50px;
    margin: 15px 40px 15px 0px;
}

.head{
    font-size: 30px;
}

.link{
    text-decoration: none;
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s; 
}

.link:hover{
   background: yellowgreen;
   color: #fff;
   transition: all 0.5s; 
}

.active{
    background: yellowgreen;
    color: #fff;
}

.icon, .link_text{
    font-size: 20px;
}

.contacts{
    display: flex;
    margin-top: 80%;
    justify-content: space-around;
}