.contents{
    display: flex;
    justify-content: space-between;
}

.action{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.action .delete{
    color: red;
    font-size: 18px;
    margin-bottom: 1.5rem;
}

.action .patch{
    color: rgb(0, 255, 145);
    font-size: 18px;
}